header{
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

nav{
    display: flex;
    gap: 15px;
}

.nav-link{
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
    user-select:none;
}

#logo{
    user-select: none;
    color: var(--white);
}

.nav-link:hover{
    transform: scale(1.1);
}