*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    --primary-color: #9C3D3B;
    --secondary-color: #A95440;
    --terciary-color: #827076;
    --black: #221E25;
    --white: #F4EDEA;
    --altoCelda: 35px;
}

#root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 3.2rem auto 3.5rem;
    background-color: var(--white);
    color: var(--black);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

section{
    max-width: 1200px;
    margin: auto;
}

button{
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-weight:bold;
    padding: 12px;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s transform;
}

button:hover{
    transform: scale(1.025);
    box-shadow: 2px 2px 1px var(--black);
}

.hidden{
    display: none;
}